name: Generate ADB IP List

on:
  schedule:
    # Runs every hour
    - cron: "0 * * * *"
  workflow_dispatch:

jobs:
  generate:
    name: Generate ADB list
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: stable
          cache: true
      - name: Compile CLI
        run: go build -ldflags "-s -w" .

      - name: Get latest ADB IPs
        env:
          ADB_KEY: "${{ secrets.ADB_KEY }}"
        run: |
          ./iplists adb fetch cache/adb.json || exit 1

      - name: Generate ADB IP list
        run: |
          ./iplists adb build cache/adb.json lists/abuseipdb-30d.txt -d 30 || exit 1
          ./iplists aggregate lists/abuseipdb-30d.txt -w|| exit 1
          [ -s lists/abuseipdb-30d.txt ] || git checkout -- lists/abuseipdb-30d.txt

      - name: Commit & push updated IP-List
        run: |
          git config user.name 'github-actions[bot]'
          git config user.email 'github-actions[bot]@users.noreply.github.com'
          git add .
          git diff-index --quiet HEAD || git commit -m "Hourly auto update of ADB list" && git push
